.team {
  background-color: var(--backgound-second-color);
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  background-color: var(--background-main-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: var(--typical-margin);
  }
}

.team-subtitle {
  margin-bottom: 10px;
  color: var(--second-text-color);
  @include font(500, 16px, 1.18, null);
  text-align: center;
}
.team-text {
  margin-bottom: 16px;
  @include font(null, 16px, 1.18, null);
}
.team-description {
  border-radius: 0px 0px 4px 4px;
  padding-top: var(--typical-margin);
  padding-bottom: var(--typical-margin);
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item:not(:last-child) {
  margin-right: 10px;
}
/* .team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
} 
через бітька задали нащадку
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--accent-text-color);
} */
.team-soc-link {
  color: var(--main-icon-color);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
  }
}
.team-soc-icon {
  fill: currentColor;
}
