.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.color-contact {
  color: var(--main-text-color);
}
.contact-link {
  display: flex;
  align-items: center;
}
.tel-soc-icon,
.mail-soc-icon {
  fill: currentColor;
  margin-right: 10px;
}
